In [1]:
import pandas as pd

df = pd.read_csv('s3://ia340-2024fall-2-777777/Crime_Data_from_2020_to_Present.csv') # load the data from s3

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/fsspec/registry.py:279: UserWarning: Your installed version of s3fs is very old and known to cause
severe performance issues, see also https://github.com/dask/dask/issues/10276

To fix, you should specify a lower version bound on s3fs, or
update the current installation.

  warnings.warn(s3_msg)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
982633,242011172,08/20/2024 12:00:00 AM,08/17/2024 12:00:00 AM,2300,20,Olympic,2033,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,NaN,NaN,NaN,3700 WILSHIRE BL,NaN,34.0617,-118.3066
982634,240710284,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,7,Wilshire,788,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,4000 W 23RD ST,NaN,34.0362,-118.3284
982635,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
982636,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
982637,240910892,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,9,Van Nuys,914,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,6900 VESPER AV,NaN,34.1961,-118.4510

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982638 entries, 0 to 982637
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           982638 non-null  int64
 1   Date Rptd       982638 non-null  object
 2   DATE OCC        982638 non-null  object
 3   TIME OCC        982638 non-null  int64
 4   AREA            982638 non-null  int64
 5   AREA NAME       982638 non-null  object
 6   Rpt Dist No     982638 non-null  int64
 7   Part 1-2        982638 non-null  int64
 8   Crm Cd          982638 non-null  int64
 9   Crm Cd Desc     982638 non-null  object
 10  Mocodes         837376 non-null  object
 11  Vict Age        982638 non-null  int64
 12  Vict Sex        844193 non-null  object
 13  Vict Descent    844182 non-null  object
 14  Premis Cd       982624 non-null  float64
 15  Premis Desc     982053 non-null  object
 16  Weapon Used Cd  326167 non-null  float64
 17  Weapon Desc     326167 non-null  object
 18  Status          982637 non-null  object
 19  Status Desc     982638 non-null  object
 20  Crm Cd 1        982627 non-null  float64
 21  Crm Cd 2        68875 non-null   float64
 22  Crm Cd 3        2311 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        982638 non-null  object
 25  Cross Street    151849 non-null  object
 26  LAT             982638 non-null  float64
 27  LON             982638 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 209.9+ MB

In [4]:
df['date'] = pd.to_datetime(df['dateRep'], format='%d/%m/%Y') #change the data type to date with specific format
df.info()

KeyError: 'dateRep'